body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  position: fixed;
}

#titulo {
  font-size: 40px;
  color: white;
  font-family: monospace;
  line-height: 150px;
}

img {
  border: 2px solid black;
  margin: auto;
  padding: 1px;
}

.principal {
  background-color: #000000;
  height: 270px;
  width: 100%;
}

div.wrapper{
  position: relative;
  width: 80%;
  margin: auto;
}
.lado-esquerdo {
  height: 230px;
  width: 45%;
  float: left;
  background-color: #cccccc;
  margin: 20px;
}

.lado-direito {
  height: 230px;
  width: 45%;
  float: left;
  background-color: #cccccc;
  margin: 20px;
}

footer{
  text-align: center;
  background-color: red;
  color: #FFF;
  position: absolute;
  bottom: 0;
  line-height: 50px;
}
