body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
}

#titulo{
  margin: auto;
  
}

#nav {
  list-style: none;
  width: 100%;
  display: flex;
  /* position: fixed; */
  background-color: #00ff;
}

#nav a {
  color: #fff;
  margin: auto 20px auto 40px;
  text-decoration: none;
  font-weight: bold;
}

#nav li {
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
}